@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed',sans-serif;
    margin:0;
    background-color: #eee;
    height:auto;
}

h1{
    font-weight: 400;
    font-size:2.5rem;
    text-transform: uppercase;
    margin:0;
}

h2{
    font-weight:400;
    font-size:1.2rem;
    text-transform:capitalize;
    margin:0;
}

img{
    display:block;
    width:100%;
}
video{
    display:block;
    width:100%;
}

main{
    max-width:900px;
    margin:auto;
    box-shadow:30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
}

#landing{
    background-color: white;
}

#landing-text{
    display:flex;
    flex: 0 1 40vw;
    height:50vh;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-right:1rem;
    padding-left:1rem;
}

#landing-text h2{
    color:#888;
}

#landing-image{
background: url(bg.jpg)no-repeat center center/cover;
height:50vh;
flex:0 1 60vw;
margin:0;
}

.btn{
padding:0.5rem 2rem;
border:1px solid #ccc;
display:inline-block;
margin-top:2rem;
border-radius: 50px;
text-decoration: none;
color:#333;
transition: background 200ms ease-in;
box-shadow:  5px 4px 3px 0px rgb(88, 88, 88, 0.425);
}

.btn:hover{
    background: #f4f4f4;
    box-shadow:inset -4px -2px 3px rgb(218, 201, 201),inset 5px 4px 3px 0px rgb(88, 88, 88, 0.425);
}

#header{
    padding:1.5rem;
    text-align:center;
    background:#333;
    color:white;
}

#header h2{
   display:inline-block;
   padding:0 1rem 0 1rem;
}

.description{
    padding:0.8rem;
    text-align:center;
}

footer{
    text-align:center;
    padding:2rem 1rem;
    margin:auto;
    color:#333;
}

footer h3{
    font-size: 3rem;
    margin-bottom:0;;
}

/* desktop */

@media(min-width:500px)
{
    #landing{
        display:flex;
        height:100%;
    }
    #landing-text{
        height:100vh;
    }

    #landing-image{
        height:100vh;
    }
}

@media(min-width:700px)
{
    .btn{
        padding:1rem 3rem;
    }
}
